.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #f4f5f9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}
.propage {
  width: 100%;
  height: 100vh;
  min-height: 4511px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(244, 245, 249, 1);
}

.navbar {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  top: 0px;
  height: 70px;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  .logo {
    background-color: rgba(255, 255, 255, 0);
    top: 23px;
    height: 25px;
    position: absolute;
    margin: 0;
    left: 10%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .contour_btn {
    top: 17px;
    height: 36px;
    position: absolute;
    margin: 0;
    left: 90%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    .button_navbar {
      background-color: rgba(255, 255, 255, 0);
      top: 0px;
      height: 36px;
      box-sizing: border-box;
      width: 120px;
      position: absolute;
      margin: 0;
      right: 15%;
      border-radius: 18px;
      border-style: solid;
      border-width: 1px;
      border-color: rgba(131, 110, 57, 1);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}
.elma_pro_hero {
  background-color: rgba(255, 255, 255, 0);
  top: 70px;
  height: 600px;
  width: 100%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  .elma_pro_hero_img {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 613px;
    width: 100%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .attirez_fidelisez {
    top: 140px;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    left: 10%;
    margin: 0;
    width: 400px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 300;
    font-style: normal;
    color: rgba(215, 215, 215, 1);
    text-align: left;
    line-height: 29px;
    font-family: Heebo-Light;
    font-size: 20px;
    color: #f4f5f9;
    letter-spacing: 0.08px;

    @media screen and (max-width: 600px) {
      width: 45%;
    }
  }
  .ca_vous_tente {
    background-color: rgba(255, 255, 255, 0);
    top: 246px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 10%;
    @media screen and (max-width: 600px) {
      width: 22%;
      top: 400px;
      line-height: 40px;
      font-size: 30px;
      letter-spacing: -3px;
    }
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    color: rgba(255, 255, 255, 1);
    text-align: left;
    letter-spacing: -1.73px;
    line-height: 67px;

    font-family: PlayfairDisplay-Bold;
    font-size: 56px;
    color: #ffffff;
    letter-spacing: -1.73px;
  }
  .cta {
    @media screen and (max-width: 600px) {
      left: 25%;
      top: 460px;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 360px;
    height: 55px;
    width: 30%;
    position: absolute;
    margin: 0;
    left: 10%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    .btn_contactez_nous {
      border-style: dotted;
      border-color: rgba(131, 110, 57, 1);
      border-radius: 40px;
      border-width: 1.5px;
      background-color: rgba(255, 255, 255, 0);
      top: 0px;
      height: 54px;
      width: 300px;
      @media screen and (max-width: 600px) {
        width: 180px;
        left: 70%;
      }
      position: absolute;
      margin: 0;
      left: 0px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      .text_contacteznous {
        @media screen and (max-width: 600px) {
          left: 10%;
          font-size: 16px;
        }

        background-color: rgba(255, 255, 255, 0);
        top: 14px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 72px;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        font-size: 18px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        letter-spacing: 0.07px;
        line-height: 21px;

        font-family: Heebo-Medium;
        font-size: 18px;
        color: #ffffff;
        letter-spacing: 0.07px;
        text-align: center;

        
      }
    }
  }
}
.dev_text {
  .commentnouspouvons {
    @media screen and (max-width: 600px) {
      top: 704px;
      width: 95%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 794px;
    height: auto;
    width: 100%;
    left: 10%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "Helvetica", Helvetica, Arial, serif;
    font-size: 32px;
    color: rgba(29, 30, 31, 1);
    text-align: left;
    line-height: 38px;

    font-family: PlayfairDisplay-Bold;
    font-size: 32px;
    color: #1d1e1f;
    letter-spacing: 0;
  }
  .elmadealestunepla {
    @media screen and (max-width: 600px) {
      top: 861px;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 901px;
    height: auto;
    width: 28%;
    left: 10%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: left;
    letter-spacing: 0.08px;
    line-height: 24px;
    font-family: Heebo-Light;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    .elmabook_black{
      font-weight: 700;
      font-style: normal;
    }
  }
  .man_board {
    @media screen and (max-width: 600px) {
      width: 70%;
      top: 1002px;
      left: 40%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 852px;
    height: 8%;
    width: 30%;
    position: absolute;
    margin: 0;
    left: 45%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.gagnez_client_section {
  .bg_contour {
    @media screen and (max-width: 600px) {
      top: 1891px;
      height: 1853px;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 1291px;
    height: 1425px;
    width: 100%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .gagnez_clients {
    @media screen and (max-width: 600px) {
      top: 1991px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 1392px;
    height: 212px;
    background: transparent no-repeat center;
    background-size: cover;
    width: 300px;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin: 0;
    right: 55%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .text_gagnezclients {
    @media screen and (max-width: 600px) {
      top: 2180px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 1636px;
    height: auto;
    width: 100%;
    position: absolute;
    margin: 0;
    right: 15%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 700;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 24px;
    font-family: PlayfairDisplay-Bold;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .accedez_a_desmilliers {
    @media screen and (max-width: 600px) {
      top: 2240px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 1679px;
    height: 87px;
    position: absolute;
    margin: 0;
    width: 380px;

    right: 53%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 24px;
    font-family: Heebo-Light;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .calendar {
    @media screen and (max-width: 600px) {
      left: 30%;
      width: 50%;
      top: 2420px;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 1679px;
    height: 190px;
    width: 241px;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin: 0;
    left: 59%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .remplissezvotrecal {
    @media screen and (max-width: 600px) {
      left: 10%;
      top: 2600px;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 1899px;
    height: auto;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 18%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 24px;
    font-family: PlayfairDisplay-Bold;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .reservations_text {
    @media screen and (max-width: 600px) {
      left: 30%;
      top: 2634px;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 1942px;
    height: auto;
    width: 29%;
    position: absolute;
    margin: 0;
    right: 18%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 24px;

    font-family: Heebo-Light;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .augmentez_revenus {
    @media screen and (max-width: 600px) {
      top: 2840px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 1926px;
    height: 211px;
    width: 23%;
    position: absolute;
    margin: 0;
    right: 53%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .text_augmentez_revenus {
    @media screen and (max-width: 600px) {
      top: 3020px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 2170px;
    height: auto;
    width: 100%;
    position: absolute;
    margin: 0;
    right: 15%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 700;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 24px;

    font-family: PlayfairDisplay-Bold;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .dev_visibilite {
    @media screen and (max-width: 600px) {
      top: 3080px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 2213px;
    height: auto;
    position: absolute;
    margin: 0;
    width: 30%;
    right: 50%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "Helvetica", Helvetica, Arial, serif;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 24px;
    font-family: Heebo-Light;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .op_quotid {
    @media screen and (max-width: 600px) {
      top: 3150px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 2177px;
    height: 209px;
    width: 18%;
    position: absolute;
    margin: 0;
    left: 59%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .gerer_reservations {
    @media screen and (max-width: 600px) {
      top: 3320px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 2408px;
    height: auto;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 18%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 700;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 24px;
    font-family: PlayfairDisplay-Bold;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .reservations_text_copy {
    @media screen and (max-width: 600px) {
      top: 3415px;
      left: 30%;
      width: 50%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 2451px;
    height: auto;
    width: 29%;
    position: absolute;
    margin: 0;
    right: 18%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 24px;

    font-family: Heebo-Light;
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .points {
    background-color: rgba(255, 255, 255, 0);
    top: 2370px;
    height: 265px;
    width: 50%;
    position: absolute;
    margin: 0;
    left: 15%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.5;
  }
}
.black_section {
  @media screen and (max-width: 600px) {
    top: 3680px;
    width: 100%;
    height: 1070px;
  }
  background-color: rgba(255, 255, 255, 0);
  top: 2656px;
  height: 870px;
  width: 100%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rectangle {
  @media screen and (max-width: 600px) {
    height: 690px;
    top: 3872px;
  }
  background-color: rgba(29, 30, 31, 1);
  top: 0px;
  height: 597px;
  width: 100%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.votrelogicieldege {
  @media screen and (max-width: 600px) {
    width: 100%;
    top: 42px;
    left: 3%;
  }
  background-color: rgba(255, 255, 255, 0);
  top: 72px;
  height: auto;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-size: 32px;
  color: rgba(240, 241, 246, 1);
  text-align: center;
  line-height: 38px;
  font-family: PlayfairDisplay-Bold;
  font-size: 32px;
  color: #f0f1f6;
  letter-spacing: 0;
  text-align: center;
}
.elmabook_text {
  @media screen and (max-width: 600px) {
    width: 80%;
    top: 130px;
  }
  .span1 {
    @media screen and (max-width: 600px) {
      font-size: 18px;
      line-height: 25px;
    }
    width: 50%;
    font-family: Heebo-Bold;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgba(240, 241, 246, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 29px;
  }
  .span2 {
    @media screen and (max-width: 600px) {
      top: 150px;
      font-size: 15px;
      line-height: 25px;
      width: 100%;
    }
    width: auto;
    font-family: "Heebo", Helvetica, Arial, serif;
    font-weight: 300;
    font-style: normal;
  }

  background-color: rgba(255, 255, 255, 0);
  top: 147px;
  height: auto;
  position: absolute;
  margin: 0;
  left: 0%;
  width: 100%;

  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-size: 20px;
  color: rgba(240, 241, 246, 1);
  text-align: center;
  letter-spacing: 0.08px;
  line-height: 24px;

  font-family: Heebo-Bold;
  font-size: 20px;
  color: #f0f1f6;
  letter-spacing: 0.08px;
  text-align: center;
}
.iphonemockup {
  @media screen and (max-width: 600px) {
    top: 350px;
    max-height: 340px;
  }
  background-color: rgba(255, 255, 255, 0);
  top: 303px;
  height: 547px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  max-height: 294px;
  overflow: hidden;

  .iphonemockup1 {
    @media screen and (max-width: 600px) {
      top: 10px;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 547px;
    width: 30%;
    position: absolute;
    margin: 0;
    left: 35%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.logo_in_iphone {
  @media screen and (max-width: 600px) {
    top: 70px;
  }
  background-color: rgba(255, 255, 255, 0);
  top: 60px;
  height: 15px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.calendar_iphone {
  @media screen and (max-width: 600px) {
    top: 70px;
  }
  top: 100px;
  background-color: rgba(255, 255, 255, 0);
  height: 180px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0.1;
}
.calendar_iphone_copy {
  @media screen and (max-width: 600px) {
    top: 70px;
  }
  background-color: rgba(255, 255, 255, 0);
  top: 100px;
  height: 180px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0.31;
}
.people_like {
  @media screen and (max-width: 600px) {
    top: 3353px;
    width: 80%;
  }
  background-color: rgba(240, 241, 246, 1);
  top: 2853px;
  height: 381px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.people_like_first {
  background: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  top: 678px;
  height: 257px;
  width: 25%;
  position: absolute;
  margin: 0;
  left: 5%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);

  .salonname {
    background-color: rgba(255, 255, 255, 0);
    top: 184px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 30%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 12px;
    color: rgba(178, 178, 178, 1);
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 17px;

    font-family: Lato-Regular;
    font-size: 12px;
    color: #b2b2b2;
    letter-spacing: 0.3px;
    text-align: center;
    line-height: 17px;
  }
  .carriefuller {
    background-color: rgba(255, 255, 255, 0);
    top: 169px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 30%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 10px;
    color: rgba(81, 83, 86, 1);
    text-align: left;
    letter-spacing: 0.3px;
    line-height: 14px;

    font-family: Lato-Bold;
    font-size: 10px;
    color: #515356;
    letter-spacing: 0.3px;
    line-height: 14px;
  }
  .oval {
    background-color: rgba(255, 255, 255, 0);
    top: 170px;
    height: 32px;
    width: 32px;
    position: absolute;
    margin: 0;
    left: 15%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .peoplelike_text {
    background-color: rgba(255, 255, 255, 0);
    top: 45px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 10%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 14px;
    color: rgba(178, 178, 178, 1);
    text-align: left;
    letter-spacing: 0.4px;
    line-height: 20px;

    font-family: Lato-Regular;
    font-size: 14px;
    color: #b2b2b2;
    letter-spacing: 0.4px;
    line-height: 20px;
  }
}
.people_like_second {
  @media screen and (max-width: 600px) {
    width: 80%;
    top: 778px;
  }
  background: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  top: 678px;
  height: 257px;
  width: 25%;
  position: absolute;
  margin: 0;
  left: 38%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);

  .salonname {
    background-color: rgba(255, 255, 255, 0);
    top: 184px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 30%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 12px;
    color: rgba(178, 178, 178, 1);
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 17px;

    font-family: Lato-Regular;
    font-size: 12px;
    color: #b2b2b2;
    letter-spacing: 0.3px;
    text-align: center;
    line-height: 17px;
  }
  .gregoryrichardson {
    background-color: rgba(255, 255, 255, 0);
    top: 169px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 30%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 10px;
    color: rgba(81, 83, 86, 1);
    text-align: left;
    letter-spacing: 0.3px;
    line-height: 14px;

    font-family: Lato-Bold;
    font-size: 10px;
    color: #515356;
    letter-spacing: 0.3px;
    line-height: 14px;
  }
  .oval {
    background-color: rgba(255, 255, 255, 0);
    top: 170px;
    height: 32px;
    width: 32px;
    position: absolute;
    margin: 0;
    left: 15%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .peoplelike_text {
    background-color: rgba(255, 255, 255, 0);
    top: 45px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 10%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 14px;
    color: rgba(178, 178, 178, 1);
    text-align: left;
    letter-spacing: 0.4px;
    line-height: 20px;

    font-family: Lato-Regular;
    font-size: 14px;
    color: #b2b2b2;
    letter-spacing: 0.4px;
    line-height: 20px;
  }
}
.people_like_third {
  background: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  top: 678px;
  height: 257px;
  width: 25%;
  position: absolute;
  margin: 0;
  left: 71%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  .salonname {
    background-color: rgba(255, 255, 255, 0);
    top: 184px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 20%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 12px;
    color: rgba(178, 178, 178, 1);
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 17px;

    font-family: Lato-Regular;
    font-size: 12px;
    color: #b2b2b2;
    letter-spacing: 0.3px;
    text-align: center;
    line-height: 17px;
  }
  .ettasimmons {
    background-color: rgba(255, 255, 255, 0);
    top: 169px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 20%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 10px;
    color: rgba(81, 83, 86, 1);
    text-align: left;
    letter-spacing: 0.3px;
    line-height: 14px;

    font-family: Lato-Bold;
    font-size: 10px;
    color: #515356;
    letter-spacing: 0.3px;
    line-height: 14px;
  }
  .oval {
    background-color: rgba(255, 255, 255, 0);
    top: 170px;
    height: 32px;
    width: 32px;
    position: absolute;
    margin: 0;
    left: 5%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .peoplelike_text {
    background-color: rgba(255, 255, 255, 0);
    top: 45px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 10%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 14px;
    color: rgba(178, 178, 178, 1);
    text-align: left;
    letter-spacing: 0.4px;
    line-height: 20px;

    font-family: Lato-Regular;
    font-size: 14px;
    color: #b2b2b2;
    letter-spacing: 0.4px;
    line-height: 20px;
  }
}
.contactez_nous_section {
  background-color: rgba(24, 24, 24, 1);
  top: 3650px;
  height: 688px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  .contacteznouset {
    background-color: rgba(255, 255, 255, 0);
    top: 110px;
    height: auto;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    color: rgba(244, 245, 249, 1);
    text-align: center;
    line-height: 32px;

    font-family: PlayfairDisplay-Bold;
    font-size: 42px;
    color: #f4f5f9;
    letter-spacing: 0;
    text-align: center;
    .span1 {
      line-height: 56px;
    }
    .span2 {
      font-size: 32px;
      line-height: 43px;
    }
  }
  .quelquesoitlobje {
    background-color: rgba(255, 255, 255, 0);
    top: 225px;
    height: auto;
    width: 60%;
    position: absolute;
    margin: 0;
    left: 20%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: rgba(240, 241, 246, 1);
    text-align: center;
    letter-spacing: 0.08px;
    line-height: 29px;

    font-family: Heebo-Light;
    font-size: 20px;
    color: #f0f1f6;
    letter-spacing: 0.08px;
    text-align: center;
  }
  .form {
    ::placeholder {
      font-family: Lato-Bold;
      font-size: 14px;
      color: #9b9b9b;
      text-align: left;
      position: absolute;
      left: 18%;
    }
    background-color: rgba(255, 255, 255, 0);
    top: 337px;
    height: 219px;
    width: 29%;
    position: absolute;
    margin: 0;
    left: 18%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    .input_nom_prenom {
      background-color: rgba(247, 247, 247, 1);
      top: 0px;
      height: 45px;
      width: 100%;
      position: absolute;
      margin: 0;
      left: 52%;
      border-radius: 2px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .input_nom_salon {
      background-color: rgba(247, 247, 247, 1);
      top: 80px;
      height: 45px;
      width: 100%;
      position: absolute;
      margin: 0;
      left: 52%;
      border-radius: 2px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .input_num_telephone {
      background-color: rgba(247, 247, 247, 1);
      top: 160px;
      height: 45px;
      width: 100%;
      position: absolute;
      margin: 0;
      left: 52%;
      border-radius: 2px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .button_envoyer {
      background-color: rgba(158, 126, 68, 1);
      top: 230px;
      height: 36px;
      width: 100%;
      position: absolute;
      border-color: transparent;
      margin: 0;
      left: 52%;
      border-radius: 18px;
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
      .envoyer {
        font-family: Lato-Black;
        font-size: 10px;
        color: #ffffff;
        letter-spacing: 2px;
      }
    }
  }
}
.section_footer {
  background-color: rgba(255, 255, 255, 1);
  top: 4340px;
  height: 189px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  .logo_footer {
    background-color: rgba(255, 255, 255, 0);
    top: 40px;
    height: 25px;
    position: absolute;
    margin: 0;
    left: 10%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .product {
    background-color: rgba(255, 255, 255, 0);
    top: 40px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 30%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    font-family: "Lato", Helvetica, Arial, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10px;
    color: rgba(81, 83, 86, 1);
    text-align: left;
    letter-spacing: 1px;
    line-height: 12px;
  }
  .quisommesnous {
    background-color: rgba(255, 255, 255, 0);
    top: 65px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 30%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "HelveticaNeue", Helvetica, Arial, serif;
    font-size: 12px;
    color: rgba(178, 178, 178, 1);
    text-align: left;
    letter-spacing: 0.2px;
    line-height: 21px;
  }
  .contact {
    background-color: rgba(255, 255, 255, 0);
    top: 40px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 43%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    font-family: "Lato", Helvetica, Arial, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10px;
    color: rgba(81, 83, 86, 1);
    text-align: left;
    letter-spacing: 1px;
    line-height: 12px;
  }
  .contacteznousfaq {
    background-color: rgba(255, 255, 255, 0);
    top: 65px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 43%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "HelveticaNeue", Helvetica, Arial, serif;
    font-size: 12px;
    color: rgba(178, 178, 178, 1);
    text-align: left;
    letter-spacing: 0.2px;
    line-height: 21px;
  }
  .followus {
    background-color: rgba(255, 255, 255, 0);
    top: 40px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 56%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "Lato", Helvetica, Arial, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10px;
    color: rgba(81, 83, 86, 1);
    text-align: left;
    letter-spacing: 1px;
    line-height: 12px;
  }
  .icons {
    .facebookicon {
      background-color: rgba(255, 255, 255, 0);
      top: 65px;
      height: 24px;
      width: 2%;
      left: 54%;
      position: absolute;
      margin-left: 15px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .twittericon {
      background-color: rgba(255, 255, 255, 0);
      top: 65px;
      height: 24px;
      width: 2%;
      left: 57%;
      position: absolute;
      margin-left: 15px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .dribbbleicon {
      background-color: rgba(255, 255, 255, 0);
      top: 65px;
      height: 24px;
      width: 2%;
      left: 60%;
      position: absolute;
      margin-left: 15px;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  .subscribe {
    background-color: rgba(255, 255, 255, 0);
    top: 40px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 70%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "Lato", Helvetica, Arial, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10px;
    color: rgba(81, 83, 86, 1);
    text-align: left;
    letter-spacing: 1px;
    line-height: 12px;
  }
  .input_email {
    background-color: rgba(255, 255, 255, 0);
    top: 65px;
    height: 36px;
    box-sizing: border-box;
    width: 15%;
    position: absolute;
    margin: 0;
    left: 70%;
    border-radius: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(238, 238, 238, 1);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    ::placeholder {
      font-family: HelveticaNeue;
      font-size: 12px;
      color: #cbcbcb;
      letter-spacing: 0.2px;
      line-height: 21px;
    }
  }
  .rightarrow {
    background-color: rgba(255, 255, 255, 0);
    top: 80px;
    height: 12px;
    width: 8px;
    position: absolute;
    margin: 0;
    left: 84%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
